{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <h1>BileMo</h1>
        <p><strong>API B2B</strong></p>
        <p>Voir des trucs intéressants... 
            <a href="#">comming soon</a>
        </p>
        <footer>
            <p><em>BileMo - Annaig Jégourel - 2023</em></p>
        </footer>
    </section>
{% endblock %}